*{
margin: 0;
padding: 0;
box-sizing: border-box;
transition: all 0.75s;
}

body{
background-color: GrayText  ;
}

#container{
margin:auto;
position: relative;
top: 50px;
width:300px;
height:300px;
}

#sphere{
margin: auto;
position: relative;
width: 100%;
height: 100%;
background-color: Highlight ;
border-radius: 100%;
border: 12px solid black;
}

#date{
position: absolute;
top: 123px;
left: 165px;
border: 2px solid black;
height: 30px;
width: 80px;
box-shadow: inset 0px 1px 3px grey;
border-radius: 10px;
overflow: hidden;
}

#dayNumber{
float: left;
width: 58%;
height: 100%;
background-color: black;
border-top-right-radius: 25px;
border-bottom-right-radius: 25px;
border-right: 2px solid black;
color: white;
text-align: center;
font-size: 25px;
}

#day{
color: white;
text-align: center;
font-size: 15px;
margin-top: 5px;
}


#secondHand{
clear: both;
position: absolute;
top: 18px;
left: 138px;
width: 2px;
height:120px;
background-color: red;
z-index:10;
transform-origin: bottom;
box-shadow: 0px 1px 3px grey;
}


#minuteHand{
position: absolute;
top: 23px;
left: 137px;
width: 4px;
height:115px;
background-color: #00FF00 ;
z-index:9;
transform-origin: bottom;
box-shadow: 0px 1px 3px grey;
}


#hourly{
position: absolute;
top: 38px;
left: 136px;
width: 6px;
height:100px;
background-color:black;
z-index:8;
transform-origin: bottom;
box-shadow: 0px 1px 3px red;
}


#center{
position: absolute;
top: 130.5px;
left: 132px;
width: 15px;
height: 15px;
background-color: red;
border-radius: 100%;
z-index:11;
}

#twelve{
position: absolute;
top: 5px;
left: 124px;
font-size: 26px;
}

#six{
position: absolute;
bottom: 5px;
left: 132px;
font-size: 26px;
}

#nine{
position: absolute;
top: 125px;
left: 5px;
font-size: 26px;
}

#three{
position: absolute;
top: 125px;
right: 5px;
font-size: 26px;
}

.lines{
position: absolute;
background-color:red ;
width: 6px;
height: 20px;
border-radius: 3px;
}

.lines:nth-child(1){
top: 29px;
right: 77px;
transform: rotate(30deg);
}

.lines:nth-child(2){
top: 70px;
right: 35px;
transform: rotate(60deg);
}

.lines:nth-child(3){
bottom: 70px;
right: 35px;
transform: rotate(120deg);
}

.lines:nth-child(4){
bottom: 29px;
right: 77px;
transform: rotate(150deg);
}

.lines:nth-child(5){
bottom: 29px;
left: 77px;
transform: rotate(210deg);
}

.lines:nth-child(6){
bottom: 70px;
left: 35px;
transform: rotate(240deg);
}

.lines:nth-child(7){
top: 70px;
left: 35px;
transform: rotate(300deg);
}

.lines:nth-child(8){
top: 29px;
left: 77px;
transform: rotate(330deg);
}